.boutbox {
    height: 300px;
    margin-top: 20px;
    padding: 60px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: solid 1px blue;
}

.boutbox img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 10px;
}

.boutbox .rightbout {
    width: 90%;
}

.boutbox .rightbout p {
    margin-top: 20px;
}

.link {

    margin-top: 50px;
}

.link > a {
    margin-right: 20px;
}

.link a:hover {
    color: blue;
    text-decoration: underline;
}