<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>吾即萌新-WUJIMENGXIN</title>
    <link rel="font icon" href="../public/wujimengxin64x64.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/sbnav.css">
    <script src="../js/sbnav.js"></script>
</head>

<body>
    <header>
        <ul class="w">
            <a id="logo" href="../index.html"><img src="../resources/吾即萌新LOGO-透明-64px.svg" alt=""></a>
            <a href="../index.html">首页</a>
            <a href="../views/applacation.html">产品</a>
            <a id="current" href="../views/about.html">关于</a>
        </ul>
    </header>

    <div class="sbnav">
        <ul class="w">
            <h4>关于</h4>

            <li>
                <a href="../views/about.html">吾即萌新</a>
                <a href="../views/webabout.html">网站</a>
            </li>
        </ul>
    </div>

    <div class="top-content">
        <ul class="w">
            <li>
                <div>
                    <img src="../resources/吾即萌新LOGO-白-800px.png" alt="">
                </div>
                <div>
                    <h1>吾即萌新</h1>
                    <p>一个以全栈开发工程师为目标的野生程序员</p>
                </div>
            </li>

            <li>
                <div>
                    <a href="https://space.bilibili.com/485617556" target="_blank">Bilibili</a>
                    <a href="https://github.com/wujimengxin" target="_blank">GitHb</a>
                    <a href="https://gitee.com/september-in-the-night" target="_blank">Gitee</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="my-skill-tree w">
        <h2>我的技能树</h2>
        <p>无聊就稍微梳理下技能点，什么都会一点但是什么都不精通，果然吾即萌新</p>
        <div>
            <div>
                <h3>设计</h3>
                <ul>
                    <li>PS(Photoshop)</li>
                    <li>AI(Adobe Illustrator)</li>
                </ul>
            </div>
            <div>
                <h3>视频</h3>
                <ul>
                    <li>PR(Adobe Premiere) （电脑带不动）</li>
                    <li>达芬奇 Resolve（电脑带不动）</li>
                </ul>
            </div>
            <div>
                <h3>开发</h3>
                <ul>
                    <li>C</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>AJAX</li>
                    <li>AXIOS</li>
                    <li>TypeScript.js</li>
                    <li>Vue.js</li>
                    <li>Vue Router</li>
                    <li>Pinia</li>
                    <li>Apache ECharts.js</li>
                    <li>Chart.js</li>

                    <li>PHP</li>
                    <li>MySQL</li>

                    <li>Nginx</li>
                    <li>Golang</li>
                    <li>GORM</li>
                    <li>Gin</li>

                    <li>Ark-TS</li>
                    <li>Ark-UI</li>
                </ul>
            </div>

            <div>
                <h3>开发工具</h3>
                <ul>
                    <li>Figma</li>
                    <li>Adobe XD</li>
                    <li>Mastergo《备用》</li>
                    <li>即时《备用》</li>
                    <li>Pixso《备用》</li>
                    <li>Git (忘干净了)</li>
                    <li>Apifox《好用》（但不支持本地）</li>
                    <li>Postman《难用》</li>
                    <li>嘉立创EDA《会用》</li>
                    <li>Soldworks《会用》</li>
                    <li>Blender《会用》</li>
                    <li>Vmware 虚拟机</li>
                    <li>Dev Eco Studio(预览有点卡)</li>
                    <li>Visual Studio</li>
                    <li>Visual Studio Code</li>
                    <li>phpStudy《方便》</li>
                    <li>Trae IDE《方便》（偷懒用）</li>
                    <li>Markdown语法</li>
                </ul>
            </div>
        </div>

        <div>
            <p>总结：虽然学了这么多没什么用，但是你还别说这么一整理感觉还挺有成就感的（不愧是我）。</p>
        </div>
    </div>

    <div class="target-content">
        <ul class="target w">
            <li>
                <h1>到底了...</h1>
            </li>
        </ul>
    </div>

    <footer>
        <ul class="w">
            <a>@吾即萌新</a>
            <a>一个以全栈开发工程师为目标的野生程序员</a>
            <a href="../views/webabout.html">WebAbout</a>
        </ul>
    </footer>
</body>

</html>