<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>吾即萌新-WUJIMENGXIN</title>
    <link rel="font icon" href="../public/wujimengxin64x64.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/application.css">
    <link rel="stylesheet" href="../css/sbnav.css">
    <script src="../js/sbnav.js"></script>
</head>

<body>
    <header>
        <ul class="w">
            <a id="logo" href="../index.html"><img src="../resources/吾即萌新LOGO-透明-64px.svg" alt=""></a>
            <a href="../index.html">首页</a>
            <a id="current" href="../views/applacation.html">产品</a>
            <a href="../views/about.html">关于</a>
        </ul>
    </header>

    <div class="sbnav">
        <ul class="w">
            <h4>产品</h4>

            <li>
                <a href="../views/applacation.html">应用</a>
                <a>产品</a>
            </li>
        </ul>
    </div>

    <div id="applacation">
        <ul class="w">
            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/吾即萌新LOGO-黑-800px.png" alt="">
                <div>
                    <h2>吾即萌新</h2>
                    <p>吾即萌新个人博客网站</p>
                </div>
                <a href="https://wujimengxin.github.io/"><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>萌新导航</h2>
                    <p>...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>萌新Tab</h2>
                    <p>...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>萌新搜索</h2>
                    <p>...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>萌新笔记</h2>
                    <p>...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>萌新同步（插件）</h2>
                    <p>...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>极限0S（三维系统）</h2>
                    <p>我这一天天的到底在想什么呀！，住脑啊！这东西是我能碰的吗？...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>暖火（社区）</h2>
                    <p>我这一天天的到底在想什么呀！，住脑啊！这东西是我能碰的吗？...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>

            <li onclick="window.location.href='./layout/application_content.html'">
                <img src="../resources/MENGXIN_ICON_WHITE_x800.png" alt="">
                <div>
                    <h2>独立盒子（工作室）</h2>
                    <p>穷逼如我等有钱了再说吧...</p>
                </div>
                <a href=""><img src="../resources/右箭头.svg" alt=""></a>
            </li>
        </ul>
    </div>

    <footer>
        <ul class="w">
            <a>@吾即萌新</a>
            <a>一个以全栈开发工程师为目标的野生程序员</a>
            <a href="../views/webabout.html">WebAbout</a>
        </ul>
    </footer>
</body>

</html>