<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>吾即萌新-WUJIMENGXIN</title>
    <link rel="font icon" href="../public/wujimengxin64x64.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/webabout.css">
    <link rel="stylesheet" href="../css/sbnav.css">
    <script src="../js/sbnav.js"></script>
    <script src="../js/webabout.js"></script>
</head>

<body>
    <header>
        <ul class="w">
            <a id="logo" href="../index.html"><img src="../resources/吾即萌新LOGO-透明-64px.svg" alt=""></a>
            <a href="../index.html">首页</a>
            <a href="../views/applacation.html">产品</a>
            <a id="current" href="../views/about.html">关于</a>

        </ul>
    </header>

    <div class="sbnav">
        <ul class="w">
            <h4>关于</h4>

            <li>
                <a href="../views/about.html">吾即萌新</a>
                <a href="../views/webabout.html">网站</a>
            </li>
        </ul>
    </div>

    <div id="webabout">
        <div id="webabout_nav" class="w">
            <span class="current">WEB Version</span>
            <span>其他</span>
        </div>

        <ul id="web_list" class="w">

            <li>
                <h2>版本：1.0.2</h2>
                <div>
                    <P>
                        更新日期：2026-3-27
                    </P>
                    <P>
                        更新内容：
                    </P>
                    <ul>
                        <li>新增：“顶部子导航”</li>
                        <li>优化：“无”</li>
                    </ul>
                </div>
            </li>

            <li>
                <h2>版本：1.0.1</h2>
                <div>
                    <P>
                        更新日期：2023-11-8
                    </P>
                    <P>
                        更新内容：
                    </P>
                    <ul>
                        <li>新增：“WebAbout页面”</li>
                        <li>优化：“WebAbout页面的部分功能”</li>
                    </ul>
                </div>
            </li>

            <li>
                <h2>版本：1.0.0</h2>
                <div>
                    <P>
                        更新日期：2023-10-24
                    </P>
                    <P>
                        更新内容：
                    </P>
                    <ul>
                        <li>新增：“吾即萌新的个人博客”</li>
                        <li>优化：“无”</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <footer>
        <ul class="w">
            <a>@吾即萌新</a>
            <a>一个以全栈开发工程师为目标的野生程序员</a>
            <a href="../views/webabout.html">WebAbout</a>
        </ul>
    </footer>
</body>

</html>