* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

.w {
    margin: 0 auto;
    width: 90%;
    min-width: 1400px;
}


ul,ol,li {
    list-style-type: none;
}